body {
  background-image: url(../img/nube.jpg);
}

span img {
  width: 500px;
  height: 300px;
  margin: 20px;
  border: red 3px solid;
  border-radius: 10px;
}

span {
  display: grid;
  justify-content: center;
  grid-template-columns: 600px 600px;
  grid-template-rows: 300px 300px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

img {
  width: 500px;
  height: 300px;
  margin: 20px;
  border: red 3px solid;
  border-radius: 10px;
  padding: 2px;
  z-index: -2;
}

/*carousel*/
section div {
  width: 600px;
  height: 400px;
}

.carousel-inner {
  margin-left: 600px;
}

.carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
  transform: translate(575px, -20px);
}

h1 {
  color: red;
  text-align: center;
  background-color: black;
  border-top: 3px red solid;
  border-bottom: 3px red solid;
  margin: 20px 500px;
}

/*letra <a>*/
.miembro_enlace--translate {
  transform: translate(170px, -475px);
  font-size: 50px;
  font-family: fantasy;
  text-decoration: none;
  color: #ff5e5e;
  background-image: linear-gradient(to left, black, #4e0083);
  border-radius: 2px;
  width: 215px;
  z-index: -1;
}

.historia_enlace--translate {
  transform: translate(170px, -475px);
  font-size: 50px;
  font-family: fantasy;
  text-decoration: none;
  color: #ff5e5e;
  background-image: linear-gradient(to left, black, #4e0083);
  border-radius: 2px;
  width: 188px;
}

.enfrentamientos_enlace--translate {
  transform: translate(75px, -255px);
  font-size: 50px;
  font-family: fantasy;
  text-decoration: none;
  color: #ff5e5e;
  background-image: linear-gradient(to left, black, #4e0083);
  border-radius: 2px;
  width: 365px;
}

.discografia_enlace--translate {
  transform: translate(130px, -255px);
  font-size: 50px;
  font-family: fantasy;
  text-decoration: none;
  color: #ff5e5e;
  background-image: linear-gradient(to left, black, #4e0083);
  border-radius: 2px;
  width: 265px;
}

div {
  width: 100px;
  height: 100px;
}

/*animacion letra <a>*/
@keyframes Aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.miembro_enlace--translate,
.historia_enlace--translate,
.enfrentamientos_enlace--translate,
.discografia_enlace--translate {
  animation-duration: 5s;
  animation-name: Aparecer;
  animation-iteration-count: infinite;
}

h2 {
  font-family: initial;
  color: #d803d8;
  background-color: black;
}

h3 {
  color: red;
  font-size: 50px;
  text-decoration: underline;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  border: black 2px double;
  margin: 10px;
  background-color: black;
}

h4 {
  font-family: cursive;
  color: #fefff0;
  background-color: #ec0505;
}

strong {
  font-family: cursive;
  color: #d803d8;
  background-color: black;
  font-style: italic;
}

h5 {
  font-family: initial;
  color: #d803d8;
  background-color: black;
}

@media only screen and (max-width: 480px) {
  h1 {
    margin: 20px 270px;
  }

  header {
    width: 175%;
  }
  header li {
    display: block;
  }

  footer {
    width: 175%;
  }

  span {
    display: block;
  }

  .mielist {
    margin-left: 80px;
  }

  .hislist {
    margin-left: 200px;
  }

  .enflist {
    margin-left: 300px;
  }

  .dislist {
    margin-left: 420px;
  }

  h2 {
    width: 175%;
  }

  .miembro_enlace--translate {
    display: grid;
    transform: translate(170px, -1225px);
  }

  .historia_enlace--translate {
    display: grid;
    transform: translate(170px, -950px);
  }

  .enfrentamientos_enlace--translate {
    display: grid;
    transform: translate(70px, -700px);
  }

  .discografia_enlace--translate {
    display: grid;
    transform: translate(120px, -400px);
  }
}
@media only screen and (min-width: 481px) and (max-width: 600px) {
  header {
    width: 120%;
  }
  header li {
    display: block;
  }

  footer {
    width: 120%;
  }

  span {
    display: block;
  }

  .mielist {
    margin-left: 80px;
  }

  .hislist {
    margin-left: 250px;
  }

  .enflist {
    margin-left: 350px;
  }

  .dislist {
    margin-left: 540px;
  }

  h2 {
    width: 120%;
  }

  .miembro_enlace--translate {
    display: grid;
    transform: translate(170px, -1225px);
  }

  .historia_enlace--translate {
    display: grid;
    transform: translate(170px, -950px);
  }

  .enfrentamientos_enlace--translate {
    display: grid;
    transform: translate(70px, -700px);
  }

  .discografia_enlace--translate {
    display: grid;
    transform: translate(120px, -400px);
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  header {
    width: 120%;
  }
  header li {
    display: block;
  }

  footer {
    width: 120%;
  }

  span {
    display: block;
  }

  .mielist {
    margin-left: 80px;
  }

  .hislist {
    margin-left: 250px;
  }

  .enflist {
    margin-left: 350px;
  }

  .dislist {
    margin-left: 540px;
  }

  h2 {
    width: 120%;
  }

  .miembro_enlace--translate {
    display: grid;
    transform: translate(170px, -1225px);
  }

  .historia_enlace--translate {
    display: grid;
    transform: translate(170px, -950px);
  }

  .enfrentamientos_enlace--translate {
    display: grid;
    transform: translate(70px, -700px);
  }

  .discografia_enlace--translate {
    display: grid;
    transform: translate(120px, -400px);
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .ulMiembro {
    display: grid;
    grid-template-areas: "DM DMli" "HM HMli" "IM IMli" "KAM KAMli" "KIM KIMli" "KOM KOMli" "PM PMli" "SM SMli" "TM TMli" "ZM ZMli";
    grid-template-rows: 10% 400px 25% 500px 8% 8% 22% 15% 400px 12%;
    grid-template-columns: 1fr 10fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-items: stretch;
    border: red solid 5px;
    z-index: -3;
  }

  h1 {
    color: red;
    text-align: center;
    background-color: black;
    border-top: 3px red solid;
    border-bottom: 3px red solid;
    width: 200px;
    height: 60px;
    transform: translate(-150px, 0px);
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 113%;
  }

  li {
    width: 150% !important;
  }

  span {
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: 300px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .miembro_enlace--translate {
    transform: translate(170px, -1175px);
  }

  .historia_enlace--translate {
    transform: translate(170px, -955px);
  }

  .enfrentamientos_enlace--translate {
    transform: translate(75px, -755px);
  }

  .discografia_enlace--translate {
    transform: translate(130px, -455px);
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  h1 {
    color: red;
    text-align: center;
    background-color: black;
    border-top: 3px red solid;
    border-bottom: 3px red solid;
    width: 200px;
    height: 60px;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .carousel-inner {
    margin-left: 300px;
  }

  .carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
    transform: translate(270px, 0px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backList {
  background-image: linear-gradient(to bottom, orange, #a10000);
  color: blue;
}

.ul {
  display: grid;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  width: 19%;
  position: relative;
  font-size: 25px;
}

ul ul {
  position: absolute;
  display: none;
  background-image: linear-gradient(to top, blue, white);
}

ul ul li {
  display: block;
  width: 200px;
}
ul ul li a {
  color: red;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul li:hover ul {
  display: block;
}

/*grilla grid miembros*/
.ulMiembro {
  display: grid;
  grid-template-areas: "DM DMli" "HM HMli" "IM IMli" "KAM KAMli" "KIM KIMli" "KOM KOMli" "PM PMli" "SM SMli" "TM TMli" "ZM ZMli";
  grid-template-rows: 10% 400px 23% 400px 8% 400px 20% 15% 400px 700px;
  grid-template-columns: 1fr 10fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-items: stretch;
  border: red solid 5px;
  z-index: -3;
}

.DM {
  grid-area: DM;
}

.DMli {
  grid-area: DMli;
  border: red solid 5px;
  background-color: black;
}

.HM {
  grid-area: HM;
}

.HMli {
  grid-area: HMli;
  border: red solid 5px;
  background-color: black;
}

.IM {
  grid-area: IM;
}

.IMli {
  grid-area: IMli;
  border: red solid 5px;
  background-color: black;
}

.KAM {
  grid-area: KAM;
}

.KAMli {
  grid-area: KAMli;
  border: red solid 5px;
  background-color: black;
}

.KIM {
  grid-area: KIM;
}

.KIMli {
  grid-area: KIMli;
  border: red solid 5px;
  background-color: black;
}

.KOM {
  grid-area: KOM;
}

.KOMli {
  grid-area: KOMli;
  border: red solid 5px;
  background-color: black;
}

.PM {
  grid-area: PM;
}

.PMli {
  grid-area: PMli;
  border: red solid 5px;
  background-color: black;
}

.SM {
  grid-area: SM;
}

.SMli {
  grid-area: SMli;
  border: red solid 5px;
  background-color: black;
}

.TM {
  grid-area: TM;
}

.TMli {
  grid-area: TMli;
  border: red solid 5px;
  background-color: black;
}

.ZM {
  grid-area: ZM;
}

.ZMli {
  grid-area: ZMli;
  border: red solid 5px;
  background-color: black;
}

/*secciones*/
section {
  background-image: linear-gradient(to top, #00ccff, #04fc56);
}

.saga {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
